<!DOCTYPE html>
<html ng-app="CodeStrike">
<head>
  <meta charset="utf8">
  <title>CodeStrike</title>
</head>
<body>
  <div class="header">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-logo"><a href="">CodeStrike</a></li>
      <li class="hidden-xs"><a href="">About us</a></li>
      <li class="hidden-xs"><a href="">Calendar</a></li>
      <li class="hidden-xs"><a href="">Gallery</a></li>
    </ul>
  </div>
  <div class="content-area" ng-controller="formCtrl">
    <section class="jumbotron ag-hero text-center">
      <h1 class="ag-head">Python Workshop</h1>
      <p class="ag-description">Python is a remarkably powerful and easy to learn, dynamic programming language</p>
      <h2 class="ag-date">25<sup>th</sup> August 2014</h2>
      <p class="ag-location"><b>Venue:</b> Atharva College of Engineering, Malad West, Mumbai</p>
    </section>
    <section class="container">
      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" hidden onload="if(submitted){window.reload;}"></iframe>

      <form class="form-horizontal row" name="form" ng-hide="isFormSubmitted" onsubmit="submitted=true;" target="hidden_iframe" action="https://docs.google.com/forms/d/1OqE1Hx9_IEnfgyJmyguVNHDjuUYpfJTK1tBJdwZFf8I/formResponse">
        <fieldset class="col-sm-4 col-sm-offset-4">

          <!-- Form Name -->
          <legend class="text-center">Register Now</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="">Name</label>
            <div class="controls">
              <input ng-model="form.name" name="entry.745538358" type="text" placeholder="Steve Jobs" class="form-control input-lg" required="">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="">Email Id</label>
            <div class="controls">
              <input ng-model="form.email" name="entry.906933757" type="email" placeholder="steve@apple.com" class="form-control input-lg" required="">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="">College Name</label>
            <div class="controls">
              <input ng-model="form.college" name="entry.849092234" type="text" placeholder="Monster College" class="form-control input-lg" required="">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="control-label" for="">Mobile Number</label>
            <div class="controls">
              <input ng-model="form.mobile" name="entry.887308671" type="number" placeholder="1234567890" class="form-control input-lg" required="">

            </div>
          </div>
          <input type="hidden" name="draftResponse" value="[,,&quot;-2666617713095922239&quot;]
          ">
          <input type="hidden" name="pageHistory" value="0">


          <input type="hidden" name="fbzx" value="-2666617713095922239">

          <!-- Button -->
          <div class="form-group">
            <label class="control-label" for=""></label>
            <div class="controls">
              <button name="" type="submit" title="Register me for this python workshop" class="btn btn-primary btn-lg btn-block" ng-click="submit()">Register Me</button>
            </div>
          </div>

        </fieldset>
      </form>
      <div class="plate plate-success text-center" ng-show="isFormSubmitted">
        <h3>Your are registered for Python Workshop!</h3>
        <p>
          <small>Reload This Page To Register Again</small>
        </p>
      </div>
      <div class="well">
        If you want to know anything about workshop, call Ashish +91 9867 327 500 or Vishmita +91 9867 626 361. We are always ready to help you.
      </div>
    </section>
    <div class="plate plate-chocolate">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <h1>Speaker</h1>
          <h2>Hitesh Soni</h2>
          <p>
            <i>Co-Founder and Python developer of Expojure.com</i>
          </p>
          <p>He has prior experience of teaching programming at L&amp;T. In Expojure, he is responsible for all the server-side scripting in Python and Node.js</p>
        </div>
        <div class="col-sm-6 col-md-4">
          <h1>Why Python</h1>
          <p>Python is simple to learn and helps you to express your logic directly into executable programs.</p>
          <p>
            Python is used in variety of domains ranging from Mobiles, Laptops to Space Shuttle.</p>
          <p>Its used by <i>Google, Dropbox, Instagram...</i></p>
        </div>
        <div class="col-sm-6 col-md-4">
          <h1>What will you get</h1>
          <p>
            You will be able to write basic programs in python in daily life. After one week we will be organizing a workshop on Competitive Programming in which you can write programs in python.
          </p>
          <ul>
            <li>Certificate of Completion</li>
            <li>Set of Developer Tools</li>
            <li>Good Student Programmers Community and Network</li>
          </ul>
        </div>
        <div class="col-am-6 col-md-12">
          <h1>What do you need to bring for the workshop</h1>
          <ul>
            <li>Laptop (optional). We will provide you PC if you don't have laptop</li>
            <li>Notebook and Pen</li>
            <li>Workshop fee <b>Rs. 70/-</b>. To make sure only interested people attend</li>
            <li>Camera (optional). Incase if you want to click a pic with speaker :p</li>
          </ul>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><h4>Connect with us</h4></li>
            <li><a href="">Facebook Page</a></li>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook Group</a></li>
          </ul>
          <ul class="list-unstyled">
            <li><h4>Contact us</h4></li>
            <li><a href="mailto:codestrikehq@gmail.com">Email</a></li>
            <li>+91 9867 327 500</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><h4>About us</h4></li>
            <li><a href="">Team</a></li>
            <li><a href="">Chapter - CodeStrike</a></li>
            <li><a href="">CodeChef</a></li>
          </ul>
          <h4>Address:</h4>
          <address>
            <strong>CodeStrike</strong><br>
            Atharva College of Engineering<br>
            Malad West<br>
          </address>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><h4>Resources</h4></li>
            <li><a href="">CodeStrike Calendar</a></li>
            <li><a href="">Gallery</a></li>
            <li><a href="">Wiki</a></li>
          </ul>
        </div>
      </div>
      <aside>
        Copyright &copy; CodeStrike &middot; &emsp; License "MIT" &middot; &emsp; Source codes of this website are available on <a href="">GitHub</a>
      </aside>
    </div>
  </div>
  <script type="text/javascript" src="/lib/angular.min.js"></script>
  <script type="text/javascript" src="/script/codestrike.js"></script>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style/mojojojo.css">
</body>
</html>