/** Base Classes **/
.footer {
  padding-top: 2rem;
  padding-bottom: 3rem;
  bottom: 0;
  background-color: orange;
}

.footer a {
  color: black;
}

.footer a:hover {
  color: #555;
}

.footer h4 {
  margin-top: 3rem;
}

.footer aside {
  margin-top: 2rem;
}

.plate {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.plate-box {
  padding: 2rem 3rem;
  text-align: center;
  margin: 1rem;
  border-radius: 6px;
}

.plate-chocolate {
  background-color: #301800;
  color: #C0A878;
}

.plate-chocolate h1 {
  color:  #F0F0C0;
}

.plate-success {
  color: #49A34B;
  background-color: #BEEE9E;
}
/** AG classes **/
.ag-hero {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ag-date {
  color: #5856D6;
  font-weight: bold;
}
