<section class="jumbotron">
  <div class="container">
    <h1>CodeChef and CodeStrike</h1>
    <p class="lead">
      CodeChef is a global programming community. They host contests, trainings and events for programmers around the world. The goal is to provide a platform for programmers everywhere to meet, compete, and have fun. CodeChef is a noncommercial organization operated by Directi, an Indian software company based in Mumbai, India.
    </p>
    <p>
      CodeChef aims to create a global community that fosters learning and encourages friendly competition. As they are based in India, they take extra steps to encourage the programming community here. They partner with colleges and groups to create local CodeChef chapters and meetups.
    </p>

    <p>
      CodeStrike is CodeChef Campus Chapter of Atharva College of Engineering. Started on 27<sup>th</sup> January 2014, we aim to establish a coding culture in Atharva College and promote students to participate in various competitive programming competitions.
    </p>
  </div>
</section>

<section class="plate">
<div class="container">
  <h1>CodeStrike New Team</h1>
  <p class="text-muted">Active since 1<sup>st</sup> September 2014</p>
  <ul class="list-unstyled">
    <li ng-repeat="m in members" class="ag-card-person">
      <h3>{{m.name}}</h3>
      <p>{{m.post}}</p>
      <p class="text-meted">{{m.class}}</p>
      <p class="lead">{{m.info}}</p>
    </li>
  </ul>
  </div>
</section>